<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('_header'); %>
        <div class="flex column">
            <h1>Team Career Camp</h1>
            <h2>(Employee's dashboard)</h2>
            <h1>Welcome, <%= employee.name %></h1>
        </div>     
    </body>
</html>